# Basic operration and operator
ADD +,
SUB -,
MUL *,
DIV / (real number),
INTEGER DIV // (whole number),
MODULUS % (reminder),
EXPONENT ** (power)

In [1]:
2+2

4

In [3]:
3-14

-11

In [6]:
10//3

3

In [7]:
2/3

0.6666666666666666

In [8]:
10**3

1000

In [9]:
2/3

0.6666666666666666

2/3

### comparison operators
<,>,<=,>=,==,1=

In [10]:
876>778

True

2+2

In [11]:
6807<7598

True

In [13]:
7658<9865

True

In [15]:
6486<=6867

True

In [16]:
6475>=7587

False

In [17]:
6576==6576

True

In [14]:
7659>9865

False

In [18]:
'Hello'

'Hello'

In [19]:
'This is a simple message'

'This is a simple message'

In [20]:
"this is a simple message"

'this is a simple message'

In [21]:
'''this is sparta'''

'this is sparta'

In [22]:
'''Twinkle twinkle litte star
How I wonder what you are'''

'Twinkle twinkle litte star\nHow I wonder what you are'

In [23]:
name ='Shweta Pandey'

In [24]:
a = 10

In [25]:
b = 3

In [26]:
a + b

13

In [27]:
a-b

7

In [28]:
b**a

59049

In [29]:
a//4

2

In [30]:
b/6

0.5

In [31]:
college = 'babu banarsi das univercity'
dob = '19 september'

In [34]:
location='Lucknow up'

In [35]:
location='lucknow is my place

SyntaxError: EOL while scanning string literal (2100292352.py, line 1)

In [36]:
location = 'lucknow is my place'

In [38]:
name

'Shweta Pandey'

In [39]:
#undefined variable erroe Nameerror
Place

NameError: name 'Place' is not defined

### common error

string operators example

In [40]:
12+13

25

In [41]:
'hello'+"world" #concatenation

'helloworld'

In [42]:
"ramdom" + location

'ramdomlucknow is my place'

In [43]:
#string and number can not be added
a+name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
#you can multiply a string with a number -> duplication
"ha*10"

'ha*10'

In [45]:
name*10

'Shweta PandeyShweta PandeyShweta PandeyShweta PandeyShweta PandeyShweta PandeyShweta PandeyShweta PandeyShweta PandeyShweta Pandey'

In [46]:
'-'*15

'---------------'

In [49]:
city * 1000

1000000

In [24]:
emojis="ðŸ˜Š"
emojis * 123

'ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š'

# Variables

In [5]:
name = " Bruce Wayne"
hero_name= "Batman"
skills= ['Fighting','super intelligence','etc.']
creator = " Bob Kane"
created_in = 1939

# Intiger

In [6]:
x = 1
y = 46395283
z = 8765

In [7]:
x=658467*7585788

In [8]:
type(x)

int

In [9]:
type(name)

str

# Float

In [12]:
x= 3.4
y=53.6
z=6799.889
a=76.5e7
b=-65.8

# string

In [13]:
name = " bruce wayne 01"
color = 'red'
Institute= 'digipodium'

In [14]:
kahani = '''this is the story of a person'''

# Boolean

In [16]:
is_coding = True
is_fun= True
are_u_bored= False

# None

In [17]:
x = None

# List

In [18]:
a = [2,4,6,8,10,12,14,16,18,20]
vals = [1,2.2,'python']
colors = ['red','green','yellow']

# Tuples

In [19]:
a = (2,4,6,8,10,12,14,16,18,20)
vals = (1,2.2,'python')
colors = ('red','green','yellow')

# Sets

In [20]:
a =  {2,4,6,8,10,12,14,16,18,20}
vals = {1,2.2,'python'}
colors = {'red','green','yellow'}

# Dictionaries

In [21]:
car_info = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}