In [1]:
print()

In [4]:
print(1)

1

In [3]:
sum([1,2,3])

6

In [8]:
len("help")

4

In [9]:
x = []
x.copy()

[]

### Defining and calling function

In [5]:
def check():
    print('This is a function')

In [10]:
check

In [6]:
check()

This is a function

In [7]:
check()
check()
check()
check()

This is a function
This is a function
This is a function
This is a function

Devide function

In [14]:
def divide(a,b):
    ans = a/b
    print(ans)

In [15]:
divide

In [16]:
divide(9,3)

3.0

In [17]:
divide(17,4)

4.25

In [22]:
divide(10,5,1) #error

TypeError: divide() takes 2 positional arguments but 3 were given

In [23]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary* .08
    print(f"{old_salary}->{new_salary}")

def remove_hra(salary):
    new_salary = salary - salary * .05
    print(f"{salary}->{new_salary}")

In [24]:
update_salary(10000)
remove_hra(10800)

10000->10800.0
10800->10260.0

In [25]:
10000*.08

800.0

In [31]:
print(update_salary(10000))
print(remove_hra(10800))

10000->10800.0
None
10800->10260.0
None

functions with return value and parametrs

In [32]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary* .08
    return new_salary

def remove_hra(salary):
    new_salary = salary - salary * .05
    return new_salary

In [33]:
print(update_salary(10000))

10800.0

In [35]:
salary = update_salary(20000)
print(salary)

21600.0

In [36]:
x = ["apple","banana","cherry"]
" " .join(x).upper()

'APPLE BANANA CHERRY'

In [37]:
update_salary(10000)

10800.0

In [38]:
update_salary(10000)+5000

15800.0

In [39]:
remove_hra(update_salary(10000))

10260.0

- waf to return true or false, if a number is even or not.
- wap a program to remove all volwes from a sentence given in a fuction.
- waf to return the second highest value from a list given as parameter

In [27]:
def is_even (number):
    if number%2==0:
        return True
    return False

In [38]:
def remove_vowels(sentence):
    for v in "aeiouAEIOU":
        sentence =sentence.replace(v,'')
    return sentence

In [23]:
print(is_even(121))

False

In [39]:
remove_vowels("shweta")

'shwt'

In [ ]:
print(is_even(121))
print(remove_vowels(" i am shweta"))
print(max_2([2,3,4,5,7,8,0 ]))

In [13]:
list1 = [10,20,30]
list2 = [40,30,45]
list1.sort()
print("Second highest value is:",list1[-1])

Second highest value is: 30

In [28]:
def eq_1(x,y,z) :
     return x**y-z*x

In [29]:
eq_1(2,3,5) # normal way
print(eq_1(x=2,y=3,z=5))
print(eq_1(y=12,x=4,z=5))
print(eq_1(x=54,y=22,z=5))

-2
16777196
129617224039693496560053195599108898546

In [30]:
print("hello",'is','not','helo',sep="\n")

hello
is
not
helo

In [31]:
"we are going to stop writing".split('0')

['we are going to stop writing']

In [32]:
def add4(x,y,z=0,z2=0):
    return x+y+z+z2

In [33]:
print(add4(1,2,3,4))

10

In [34]:
def count_zeros(*nums):
 if len(nums)>0:
    return nums.count(0)

In [35]:
print(count_zeros())
print(count_zeros(1,2,3,4,5,3,5))
print(count_zeros(1,0,0,9,0,9,79,0,0,8,0,9,0))

None
0
7

In [37]:
def adder(*args):
    if len(args)>0:
        return sum(args)
        return 0