In [3]:
x = "Python"
for i in x:
    print(i)

P
y
t
h
o
n

In [9]:
for i,name in enumerate(movies):
    print(f"{i} - {name}")

NameError: name 'movies' is not defined

# range() function

In [5]:
for num in range (10,5,-1):
    print (num)

10
9
8
7
6

In [8]:
for i in range(10):
    print(i * 'Na' )

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

 1.  wap to print if numbers are even or odd from 1,100
2. wap to print the sum of all even numbers from 2 to 101
3. wap to print the average of all odd numbers from 1 to 100

1. wap to print if number are even or odd from 1, 100

In [17]:
for i in range (1,101):
    if i % 2 ==0:
        print('even', i )
    else:
        print ('odd',1)

odd 1
even 2
odd 1
even 4
odd 1
even 6
odd 1
even 8
odd 1
even 10
odd 1
even 12
odd 1
even 14
odd 1
even 16
odd 1
even 18
odd 1
even 20
odd 1
even 22
odd 1
even 24
odd 1
even 26
odd 1
even 28
odd 1
even 30
odd 1
even 32
odd 1
even 34
odd 1
even 36
odd 1
even 38
odd 1
even 40
odd 1
even 42
odd 1
even 44
odd 1
even 46
odd 1
even 48
odd 1
even 50
odd 1
even 52
odd 1
even 54
odd 1
even 56
odd 1
even 58
odd 1
even 60
odd 1
even 62
odd 1
even 64
odd 1
even 66
odd 1
even 68
odd 1
even 70
odd 1
even 72
odd 1
even 74
odd 1
even 76
odd 1
even 78
odd 1
even 80
odd 1
even 82
odd 1
even 84
odd 1
even 86
odd 1
even 88
odd 1
even 90
odd 1
even 92
odd 1
even 94
odd 1
even 96
odd 1
even 98
odd 1
even 100

2. wap to print the sum of all even numbers from 2 to 101

In [15]:
total = 0 
for i in range (2,101):
     if i % 2 == 0:
         total +=1
print ("total of all even numbers=>",total)

total of all even numbers=> 50

3.wap to print the average of all odd numbers from 1 to 100

In [4]:
# best implementation -> dynamic rows
for i in range(1,6):
    print(1*i,2*i,3*i,4*i,5*i,sep=' ')

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [2]:
print(1,2,3,4,5,sep=' ')
print(2,4,6,8,10,sep=' ')
print(3,6,9,12,15,sep=' ')
print(4,8,12,16,20,sep=' ')
print(5,10,15,20,25,sep=' ')

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [5]:
# best implementation -> dynamic row and col
for row in range (1,6):
    for col in range(1,6):
        print(row,col)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

In [9]:
# best implementation -> dynamic row and col
for row in range(1,6):
    for col in range(1,6):
        print(row*col)

1
2
3
4
5
2
4
6
8
10
3
6
9
12
15
4
8
12
16
20
5
10
15
20
25

In [7]:
# best implementation -> dynamic row and col 
for row in range (1,6):
    for col in range(1,6):
        print(row * col,end=',')

1,2,3,4,5,2,4,6,8,10,3,6,9,12,15,4,8,12,16,20,5,10,15,20,25,

In [8]:
for row in range (1,6):
    for col in range(1,6):
        print(row * col,end=',')
    print()

1,2,3,4,5,
2,4,6,8,10,
3,6,9,12,15,
4,8,12,16,20,
5,10,15,20,25,

# while loop

In [8]:
x = 1
while x < 5:
    print('run')
    x += 1
print('stop')

run
run
run
run
stop

In [11]:
# a complex program 
n = 10

# initialize sum and counter
sum = 0
i = 1
while i <=n:
    sum = sum + i 
    i = i+1   # update counter

# print the sum
print("The sum is",sum)

The sum is 55

In [12]:
input()

'twinkle* 2 little star'

In [23]:
poem='twinkle twinkle'
while input('do u want to write another link?[y/n]')== 'y':
    line = input(">>>")
    poem += line
chars = len(poem)  
print(f"total chars in poem is {chars}")

total chars in poem is 15

In [21]:
poem

'twinkle twinkle'

# break and continue

contiune

In [24]:
x = [1,2,'',3,4,5,'',6,7,'',8,9,10]
total = 0
for i in x:
    if isinstance(i,str):
        continue
    total += i
print(total)

55