## Set
- set is mulable (items can be cahnge during execution)
- set is heterogenous (mixed data can be stored)
- set can have **unique** values
- set is **unindexed** and **unordered** (item have indexes and can be sliced)
- set uses { } brackets with values inside it seperated with commas
- to create empty we have to use set()
- set can only store **immutable** datatype value (numbers.string,tuples,etc)

## What to learn
- creating a setâœ”
- traversal (looping)âœ”
- functionâœ”
- conversion between list/tuple/set

In [1]:
a = set()
b = {1,2,3,4}
c = set([1,2,3,4])
print(a,b,c)

set() {1, 2, 3, 4} {1, 2, 3, 4}

In [2]:
a.add(1)
a

{1}

In [3]:
d = {1,2,3,4,5,6,7,5,3,2,2,3,4,5,4,2,2}
print(d)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
d.remove(2)

In [6]:
x = set()
for i in range(5):
    val = input("Enter a value:")
    x.add(val)
print(x)

{'1', '2', '4', '3'}

In [7]:
b

{1, 2, 3, 4}

In [8]:
for i in b:
    print(i)

1
2
3
4

In [11]:
for name in x:
    print(name,end= ' ')

1 2 4 3

### Funtions
- adding values
    - add
    - update
- removing values
    - remove
    - discard() ðŸ‘ˆ
    - pop
    - clear
- set operations
    - union
    - intersection
    - difference
    - symmetric_diffrence()
    - is_superset()
    - is_subset()
    - is_disjoint()

In [12]:
sa = {1,2,3,4,5}
sb = {2,3,5,5,5,4,7}

In [13]:
print(sb.union(sa))
print(sa | sb)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

In [14]:
print(sb.intersection(sa))
print(sa & sb)

{2, 3, 4, 5}
{2, 3, 4, 5}

In [15]:
print(sb.difference(sa))
print(sa-sb)

{7}
{1}

In [16]:
print(sb.symmetric_difference(sa))
print(sa^sb)

{1, 7}
{1, 7}

In [17]:
sc = {1,2,3,4,5,6,7,8,9,10}
sd = {11,12,13}

In [18]:
sa.issubset(sc)

True

In [20]:
sb.issubset(sc)

True

In [21]:
sd.issubset(sc)

False

## Task 
wap to take 10 integers in a set from user and then display the sum of all values.

In [26]:
total = 0
x = set()
for i in range(10):
    num = int (input("Enter a number:"))
    x.add(num)
total = sum(x)    
print(x)
print(total)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
45