In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
page ='https://www.imdb.com/chart/boxoffice/?ref_=nv_ch_cht'
response = requests.get(page)
soup = BeautifulSoup(response.text,'lxml')
print('data is loaded')

data is loaded

In [3]:
target = soup.find('table',attrs ={'class','chart'}).tbody

In [4]:
rows = target.find_all('tr')
len(rows)

10

In [5]:
movies = []
for row in rows:
    title = row.find('td',attrs={'class':'titleColumn'})
    weekend = row.find('td',attrs={'class':'ratingColumn'})
    gross = row.find_all('td',attrs={'class':'weeksColumn'})[-1]
    week = row.find('td',attrs={'class':'weeksColumn'})
    print(title.text.strip())
    print(weekend.text.strip())
    print(gross.text.strip())
    print(week.text.strip())

Fantastic Beasts: The Secrets of Dumbledore
$42.2M
1
1
Sonic the Hedgehog 2
$29.3M
2
2
The Lost City
$6.2M
4
4
Everything Everywhere All at Once
$6.2M
4
4
Father Stu
$5.4M
1
1
Morbius
$4.7M
3
3
Ambulance
$4.1M
2
2
The Batman
$3.8M
7
7
K.G.F: Chapter 2
$2.9M
1
1
Uncharted
$1.2M
9
9

In [6]:
movies = []
for row in rows:
    title = row.find('td',attrs={'class':'titleColumn'})
    weekend = row.find('td',attrs={'class':'ratingColumn'})
    gross = row.find_all('td',attrs={'class':'weeksColumn'})[-1]
    week = row.find('td',attrs={'class':'weeksColumn'})
    movies.append({
        'title':title.text.strip(),
        'weekend':weekend.text.strip(),
        'gross':week.text.strip(),
        'week':week.text.strip()
    })
data = pd.DataFrame(movies)
data

                                         title weekend gross week
0  Fantastic Beasts: The Secrets of Dumbledore  $42.2M     1    1
1                         Sonic the Hedgehog 2  $29.3M     2    2
2                                The Lost City   $6.2M     4    4
3            Everything Everywhere All at Once   $6.2M     4    4
4                                   Father Stu   $5.4M     1    1
5                                      Morbius   $4.7M     3    3
6                                    Ambulance   $4.1M     2    2
7                                   The Batman   $3.8M     7    7
8                             K.G.F: Chapter 2   $2.9M     1    1
9                                    Uncharted   $1.2M     9    9

In [7]:
movies = []
for row in rows:
    title = row.find('td',attrs={'class':'titleColumn'})
    weekend = row.find( 'td',attrs={'class':'ratingColumn'})
    gross = row.find_all('td',attrs={'class':'ratingColumn'})[-1]
    week = row.find('td',attrs={'class':'weeksColumn'})
    movies.append({
        'title':title.text.strip(),
        'weekend':weekend.text.strip(),
        'gross':gross.text.strip(),
        'week':week.text.strip()
    })

data = pd.DataFrame(movies)
data.to_csv('box_office.csv',index=False)